.SaleCard_row .col .card{
    height: 150px;
    width: 300px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 7px;
    margin-top: 10px;
}

.SaleCard_row .col .card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}
.icon_class_SaleCard{
    margin-top: 20px;
}
