.iconup{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
     width: 40px;
    height: 40px;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    
}
.icondown{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
     width: 40px;
    height: 40px;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    
}




.indicator{
    float: right;
}
.subnav_Div{
    background:#f8f8f8;
    transition-delay: 5s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 5px;

    
 }

